body {
    margin: 0%;
    height: 765px;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: red;
}

.nav .home-icon {
    position: relative;
    width: auto;
    height: 50px;
}

.nav .home-icon img {
    position: relative;
    left: 15px;
    width: auto;
    height: 50px;
}

.nav .contact-me a {
    position: inherit;
    text-decoration: none;
}

.nav .contact-me {
    position: relative;
    height: 50px;
    width: 70px;
    top: -86%;
    left: 72%;
}

div.c-me {
    width: 106px;
    height: 35px;
    top: 7px;
    position: relative;
    font-family: designIndabaFont;
    color: orange;
}

.nav .my-projects {
    position: relative;
    height: 50px;
    width: 70px;
    top: -186%;
    left: 86%;
}

.nav .my-projects a {
    position: inherit;
    text-decoration: none;
}

div.m-pro {
    width: 108px;
    height: 35px;
    top: 7px;
    position: relative;
    font-family: designIndabaFont;
    color: orange;
}

.content-section {
    position: relative;
    width: 100%;
    height: 715px;
}

.content-section .picture-side{
    position: relative;
    width: 50%;
    height: 700px;
}

.content-section .picture-side img {
    position: relative;
    width: 100%;
    height: 700px;
}

.content-section .text-side {
    position: absolute;
    top: 18%;
    /* left: 60%; */
    left: 53%;
    width: 44%;
}

.content-section .text-side p {
    font-family: designIndabaThinFont;
    font-size: 18px;
    font-weight: 600;
    color: red;
    line-height: 20px;
}

.content-section .text-side h2{
    text-align: center;
    font-family: designIndabaFont;
    color: orange;
    margin-top: -16px;
}

.text-side .download-button {
    font-family: designIndabaFont;
    position: relative;
    width: 104px;
    height: 42px;
    top: 15px;
    left: 38%;
    background-color: red;
    color: orange;
}

.text-side .download-button:hover {
    font-family: designIndabaFont;
    position: relative;
    width: 104px;
    height: 42px;
    top: 15px;
    left: 38%;
    background-color: orange;
    color: red;
}

.text-side button {
    border: 0.5 solid red;
}

@font-face{
    src: url('./Movement-DirectBlack.woff');
    font-family: designIndabaFont;
  }

  @font-face{
    src: url('./Movement-DirectThin.woff2');
    font-family: designIndabaThinFont;
  }